<%= form_for @entry do |f| %>
  <% if @entry.errors.any? %>
    <div class='errors'>
      <h2>Uh oh, errors!</h2>
      <% @entry.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :entry_type, 'What type of entry is this?' %>
    <%= f.collection_select :entry_type_id, EntryType.all, :id, :name %>
  </div>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class='field'>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class='field'>
    <%= f.submit 'Save' %>
  </div>
<% end %>


